/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

/* Header Styles */
header {
    padding: 20px;
    background-color: #2b5797; /* Warna biru gelap */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

header p {
    font-size: 1.2rem;
    margin: 5px 0;
}

/* Main Content Styles */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #2b5797;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Dropdown Styles */
select {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #2b5797;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

select:focus {
    border-color: #005a9e;
    outline: none;
}

/* Footer Styles */
footer {
    padding: 10px;
    background-color: #2b5797;
    color: white;
    width: 100%;
    text-align: center;
}
